
/*Стили*/
.user-settings-wrap {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.user-settings {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.us-full-settings {
    background: #fff;
    border: 2px solid;
    display: none;
    font-size: 1em;
    line-height: 2em;
    padding: 30px 50px 60px 80px;
    z-index: 10;
    text-align: left;
}

@media (min-width: 768px) and (max-width: 992px){
    .us-full-settings {
        padding: 10px 0 0 20px;
    }
}
.us-full-settings--open  {
    display: block;
}
.us-title {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.us-group {
    margin: 0 0 15px 30px;
}
.us-item {
    padding-right: 15px;
}
.us-full-settings .us-selectable-item.us-selected {
    border: 1px solid;
    cursor: default;
    border-radius: 5px;
}
.us-full-settings .us-selectable-item {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px 10px;
    white-space: nowrap;
}
.us-fontsize-small {
    font-size: 20px;
    line-height: 1.5em;
}

.us-fontsize-medium {
    font-size: 24px;
    line-height: 1.5em;
}

.us-fontsize-item.us-fontsize-medium {
    font-size: 30px;
    line-height: 1.5em;
}
.us-fontsize-large {
    font-size: 36px;
    line-height: 1.5em;
}

.us-fontsize-item.us-fontsize-large {
    font-size: 36px;
    line-height: 1.5em;
}
.us-fonttype-arial {
    font-family: Arial, helvetica, helve, sans-serif;
}
.us-fonttype-timesnewroman {
    font-family: 'Times New Roman', times, serif;
}
.us-letterinterval-standart {
    letter-spacing: inherit;
}
.us-letterinterval-item.us-letterinterval-standart {
    letter-spacing: inherit;
}
.us-letterinterval-medium {
    letter-spacing: 3px;
}
.us-letterinterval-item.us-letterinterval-medium {
    letter-spacing: 3px;
}
.us-letterinterval-large {
    letter-spacing: 5px;
}
.us-letterinterval-item.us-letterinterval-large {
    letter-spacing: 5px;
}
.us-full-settings .us-colorscheme-item {
    float: left;
    clear: both;
    margin-bottom: 10px;
    border-radius: 5px;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.us-colorscheme-whiteblack {
    background: #fff;
    color: #000 ;
}

.us-colorscheme-blackwhite {
    background: #000;
    color: #ffffff ;
}
.us-colorscheme-cyanblue {
    background: #9dd1ff;
    color: #11477d ;
}
.us-colorscheme-beigebrown {
    background: #f7f3d6;
    color: #553b25 ;
}
.us-colorscheme-browngreen {
    background: #3b2716;
    color: #8dc63f ;
}
.us-buttons {
    margin-top: 40px;
}
.us-buttons .btn {
    margin-right: 20px;
}

.user-settings > .us-full-settings > .us-buttons >  button {
    display: inline-block;
    padding: 5px 20px;
    margin: 2px;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: normal;
    outline: none;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

.us-quick-settings {
    display: none;
}
.us-quick-settings--open {
    display: block;
}
.us-quick-settings .us-font-settings,
.us-quick-settings .us-colorscheme-settings {
    float: left;
}
@media all and (max-width: 768px) {
    .us-font-settings {
        margin-bottom: 30px;
    }
}
@media all and (max-width: 768px) {
    .us-colorscheme-settings {
        margin-bottom: 20px;
    }

}

@media all and (min-width: 768px){
    .us-quick-settings .us-font-settings,
    .us-quick-settings .us-colorscheme-settings {
        float: none;
    }
}
.us-quick-settings .us-selectable-item.us-selected::after {
    bottom: -20px;
    content: "\25b2";
    display: block;
    font-size: 15px;
    line-height: 1em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.us-quick-settings {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: normal;
    padding-top: 27px;
    padding-left: 30px;
}

@media all {
    .us-quick-settings {
        padding-left: 0;
    }
}

.us-quick-settings .us-selectable-item {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    margin: 0 10px 0 0;
    text-align: center;
    position: relative;
    vertical-align: baseline;
    z-index: 23;
}
.us-quick-settings .us-colorscheme-settings {
    margin-left: 100px;
}

@media all {
    .us-quick-settings .us-colorscheme-settings {
        margin-left: 0;
    }
}
.us-quick-settings .us-colorscheme-item {
    border: 2px solid;
    border-radius: 50%;
    width: 38px;
}
.us-colorscheme-whiteblack {
    background: #fff;
    color: #000;
}

.us-lnks {
    float: right;
}

@media all and (max-width: 768px){
    .us-lnks {
        float: none;
    }
}

.us-lnks .us-lnk {
    float: left;
    line-height: 40px;
    margin-left: 30px;
    text-decoration: none;
}
@media (min-width: 992px) {
    .us-lnks .us-lnk {
        margin-left: 18px;
    }
}
@media all and (max-width: 768px) {
    .us-lnks .us-lnk {
        float: none;
        margin-left: 0;
        display: block;
    }
}

.us-lnks .us-lnk:before {
    background: url('../images/icons-special.png') no-repeat 0 0;
    content: "";
    display: inline-block;
    height: 28px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 28px;
}
.us-lnks .us-default-version-lnk:before {
    background-position: -28px 0;
    width: 34px;
}
.us-colorscheme-blackwhite .us-lnks .us-lnk::before {
    background-position: 0 -28px;
}
.us-colorscheme-blackwhite .us-lnks .us-default-version-lnk::before {
    background-position: -28px -28px;
}
.us-colorscheme-cyanblue .us-lnks .us-lnk::before {
    background-position: 0 -56px;
}
.us-colorscheme-cyanblue .us-lnks .us-default-version-lnk::before {
    background-position: -28px -56px;
}
.us-colorscheme-beigebrown .us-lnks .us-lnk::before {
    background-position: 0 -84px;
}
.us-colorscheme-beigebrown .us-lnks .us-default-version-lnk:before {
    background-position: -28px -84px;
}
.us-colorscheme-browngreen .us-lnks .us-lnk:before {
    background-position: 0 -112px;
}
.us-colorscheme-browngreen .us-lnks .us-default-version-lnk:before {
    background-position: -28px -112px;
}

.us-lnks a
 {
    color: #000;
}
.us-colorscheme-blackwhite a, .us-colorscheme-blackwhite a:visited, .us-colorscheme-blackwhite a:hover, .us-colorscheme-blackwhite a:active {
    color: #fff;
}
.us-colorscheme-cyanblue a, .us-colorscheme-cyanblue a:visited, .us-colorscheme-cyanblue a:hover, .us-colorscheme-cyanblue a:active {
    color: #11477d;
}
.us-colorscheme-beigebrown a, .us-colorscheme-beigebrown a:visited, .us-colorscheme-beigebrown a:hover, .us-colorscheme-beigebrown a:active {
    color: #553b25;
}
.us-colorscheme-browngreen a, .us-colorscheme-browngreen a:visited, .us-colorscheme-browngreen a:hover, .us-colorscheme-browngreen a:active {
    color: #8dc63f;
}

.us-fontsize-item.us-fontsize-small {
    font-size: 20px;
}

.us-fontsize-item.us-fontsize-medium {
    font-size: 30px;
}
.us-fontsize-item.us-fontsize-large {
    font-size: 36px;
}

/*
body .us-full-settings .us-buttons > .btn:hover {
    box-shadow:  inset 0 0 10px rgba(169, 169, 169, 1); ;
}
*/

.limited-opportunities--close {
    display: none;
}

.user-settings-wrap {
    position: relative;
}
.user-settings {
    position: relative;
    z-index: 100;
    top: 0;
    /*margin-bottom: 40px;*/
}
.us-full-settings {
    position: absolute;
}

@media all and (max-width: 768px) {
    .us-lnks .us-full-settings-lnk {
        display: none;
    }
}

/*!!!*/
@media (min-width: 992px) {
    body.us-fontsize-small .us-quick-settings,
    body.us-fontsize-medium .us-quick-settings,
    body.us-fontsize-large .us-quick-settings{
        font-size: inherit;
    }
    /*body.us-fontsize-medium .us-quick-settings  {
    font-size: inherit;
}
      {
        font-size: inherit;
    }*/

}



